@{
    ViewData["Title"] = "Home Page";
}
    <html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="bootstrap.bundle.min.js"></script>

    </head>
    
    <div class="container">
        <div class="page-header">
            <center> <h1 style="color:red">FGC WIKI</h1></center>
        </div>
            <div class="float-right">
             
                <button  onclick="location.href='Login'"> Login </button>
                <button  onclick="location.href='SignUp'"> SignUp</button>
              
            </div> 
        
        

    </div>
    
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Fighting Games
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">DragonBall Fighterz</a></li>
            <li><a href="#">Street Fighter 5</a></li>
            <li><a href="#">Guilty Gear XRD Rev2</a></li>
        </ul>
    </div>


  
    </html>